:root{
    --interactable-hovered-opacity: 0.98;
    --interactable-pressed-background: rgb(20, 35, 67);
    --interactable-pressed-opacity: 0.92;
    --background: rgb(5, 14, 32);
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 50px;
    color: white;
}
form{
    background-color: var(--interactable-pressed-background);
}